.elementor-2065 .elementor-element.elementor-element-f3114fa{padding:0px 60px 0px 60px;}.elementor-2065 .elementor-element.elementor-element-e55d5ac .elementor-spacer-inner{height:20px;}.elementor-2065 .elementor-element.elementor-element-7d3edc4{padding:0px 60px 0px 60px;}.elementor-2065 .elementor-element.elementor-element-89f1242 .elementor-spacer-inner{height:20px;}/* Start custom CSS for section, class: .elementor-element-f3114fa */.entry-title{
    display:none;
}/* End custom CSS */