.elementor-1120 .elementor-element.elementor-element-d650661 > .elementor-container{max-width:500px;}.elementor-1120 .elementor-element.elementor-element-d650661{margin-top:50px;margin-bottom:50px;}@media(min-width:768px){.elementor-1120 .elementor-element.elementor-element-5c3a039{width:100%;}}