.elementor-2036 .elementor-element.elementor-element-cf3060b > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-2036 .elementor-element.elementor-element-cf3060b{overflow:hidden;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-2036 .elementor-element.elementor-element-cf3060b:not(.elementor-motion-effects-element-type-background), .elementor-2036 .elementor-element.elementor-element-cf3060b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("http://united-uas.auwebstaging.com/wp-content/uploads/2020/07/istockphoto-612257332-2048x2048-1.jpg");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-2036 .elementor-element.elementor-element-cf3060b > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-2036 .elementor-element.elementor-element-1621a97 > .elementor-container{max-width:1200px;min-height:350px;}.elementor-bc-flex-widget .elementor-2036 .elementor-element.elementor-element-f9ba211.elementor-column .elementor-column-wrap{align-items:center;}.elementor-2036 .elementor-element.elementor-element-f9ba211.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-2036 .elementor-element.elementor-element-7880712 .elementor-heading-title{color:#FFFFFF;font-size:40px;}.elementor-2036 .elementor-element.elementor-element-0c65fd1{--divider-border-style:solid;--divider-border-color:#ED1923;--divider-border-width:10px;}.elementor-2036 .elementor-element.elementor-element-0c65fd1 .elementor-divider-separator{width:10%;margin:0 auto;margin-left:0;}.elementor-2036 .elementor-element.elementor-element-0c65fd1 .elementor-divider{text-align:left;padding-top:0px;padding-bottom:0px;}.elementor-2036 .elementor-element.elementor-element-be61aad .elementor-spacer-inner{height:20px;}.elementor-2036 .elementor-element.elementor-element-0b5415f > .elementor-widget-container{padding:0px 50px 0px 50px;}.elementor-2036 .elementor-element.elementor-element-ca93d7e .elementor-spacer-inner{height:20px;}/* Start custom CSS for shortcode, class: .elementor-element-0b5415f */.woocommerce-MyAccount-navigation{
    display:none;
}

.woocommerce-MyAccount-content{
    display: inline-block;
    position:relative;
    float:left !important;
    width:90% !important;
    margin: auto !important;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-fb393e6 */.entry-title{
    display:none;
}/* End custom CSS */