.elementor-1905 .elementor-element.elementor-element-ba5a794:not(.elementor-motion-effects-element-type-background), .elementor-1905 .elementor-element.elementor-element-ba5a794 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F3F3F9;}.elementor-1905 .elementor-element.elementor-element-ba5a794{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-1905 .elementor-element.elementor-element-ba5a794 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-1905 .elementor-element.elementor-element-fd7b1dc{text-align:center;}.elementor-1905 .elementor-element.elementor-element-fd7b1dc > .elementor-widget-container{padding:25px 0px 25px 0px;}.elementor-1905 .elementor-element.elementor-element-764313c{padding:10px 30px 10px 30px;}.elementor-1905 .elementor-element.elementor-element-d5716ed .elementor-spacer-inner{height:20px;}.elementor-1905 .elementor-element.elementor-element-94f9c43.elementor-wc-products  ul.products{grid-column-gap:15px;grid-row-gap:40px;}.elementor-1905 .elementor-element.elementor-element-94f9c43.elementor-wc-products ul.products li.product{text-align:center;border-radius:5px;padding:15px 5px 25px 05px;}.elementor-1905 .elementor-element.elementor-element-94f9c43.elementor-wc-products .attachment-woocommerce_thumbnail{margin-bottom:-10px;}.elementor-1905 .elementor-element.elementor-element-94f9c43.elementor-wc-products ul.products li.product .price{color:#000000;font-weight:bold;}.elementor-1905 .elementor-element.elementor-element-94f9c43.elementor-wc-products ul.products li.product .price ins{color:#000000;}.elementor-1905 .elementor-element.elementor-element-94f9c43.elementor-wc-products ul.products li.product .price ins .amount{color:#000000;}.elementor-1905 .elementor-element.elementor-element-94f9c43.elementor-wc-products ul.products li.product .price del{color:#000000;}.elementor-1905 .elementor-element.elementor-element-94f9c43.elementor-wc-products ul.products li.product .price del .amount{color:#000000;}.elementor-1905 .elementor-element.elementor-element-94f9c43.elementor-wc-products ul.products li.product .price del {font-weight:bold;}.elementor-1905 .elementor-element.elementor-element-94f9c43.elementor-wc-products ul.products li.product .button{color:#FFFFFF;background-color:#ED1F27;font-size:15px;}.elementor-1905 .elementor-element.elementor-element-94f9c43.elementor-wc-products ul.products li.product:hover{box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);}.elementor-1905 .elementor-element.elementor-element-94f9c43.elementor-wc-products ul.products li.product span.onsale{display:block;background-color:#ED1F27;}.elementor-1905 .elementor-element.elementor-element-94f9c43 > .elementor-widget-container{padding:0px 20px 0px 20px;}.elementor-1905 .elementor-element.elementor-element-eb78818 .elementor-spacer-inner{height:20px;}@media(max-width:1024px){.elementor-1905 .elementor-element.elementor-element-94f9c43.elementor-wc-products  ul.products{grid-column-gap:20px;grid-row-gap:40px;}}@media(max-width:767px){.elementor-1905 .elementor-element.elementor-element-94f9c43.elementor-wc-products  ul.products{grid-column-gap:20px;grid-row-gap:40px;}}/* Start custom CSS for woocommerce-products, class: .elementor-element-94f9c43 */.add_to_cart_button{
width:90%;
margin-top:5px !important;
margin-bottom:5px !important;
}

.woocommerce-perpage{
    display:none;
}

.sku__and_cat{
    height:100px;
}
.post-1856{
    display:none;
}

button.plus.qib-button{
    background-color:#ED1F27 !important;
}

button.minus.qib-button{
    background-color:#ED1F27 !important;
}

.product__page_listing li.product .fas{
padding-right: 5px;
    padding-left: 5px;
    font-size:11px;
}

span.out-of-stock.ctm-stock.onsale{
  height: 45px !important;
  width: 45px !important;
  font-size:8px !important;
}
span.onsale{
  height: 45px !important;
  width: 45px !important;
  font-size:8px !important;
}
.woocommerce-perpage{
    width:15vw;
    float:left;
}

.woocommerce-perpage select{
    margin-bottom:50px;
    margin-top:4px;
}/* End custom CSS */