.elementor-304 .elementor-element.elementor-element-ba5a794:not(.elementor-motion-effects-element-type-background), .elementor-304 .elementor-element.elementor-element-ba5a794 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F3F3F9;}.elementor-304 .elementor-element.elementor-element-ba5a794{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-304 .elementor-element.elementor-element-ba5a794 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-304 .elementor-element.elementor-element-fd7b1dc{text-align:center;}.elementor-304 .elementor-element.elementor-element-fd7b1dc > .elementor-widget-container{padding:25px 0px 25px 0px;}.elementor-304 .elementor-element.elementor-element-5e87d57 > .elementor-container{max-width:1200px;}.elementor-304 .elementor-element.elementor-element-5e87d57{margin-top:25px;margin-bottom:25px;}.elementor-304 .elementor-element.elementor-element-2d49dc1 .elementor-heading-title{color:#000000;font-size:24px;}.elementor-304 .elementor-element.elementor-element-44c2a5a .elementor-heading-title{color:#FFFFFF;font-size:22px;}.elementor-304 .elementor-element.elementor-element-44c2a5a > .elementor-widget-container{margin:0px 15px 0px 0px;padding:15px 0px 305px 10px;background-image:url("http://united-uas.auwebstaging.com/wp-content/uploads/2020/06/browse_all_category.jpg");background-position:center center;background-repeat:no-repeat;background-size:cover;border-radius:5px 5px 5px 5px;}.elementor-304 .elementor-element.elementor-element-754cad3 .elementor-heading-title{color:#000000;}.elementor-304 .elementor-element.elementor-element-754cad3 > .elementor-widget-container{margin:0px 0px 35px 0px;}.elementor-304 .elementor-element.elementor-element-4d89d47 .elementor-heading-title{color:#5E5E5E;font-size:14px;font-weight:normal;}.elementor-304 .elementor-element.elementor-element-8d8eda8.elementor-wc-products  ul.products{grid-column-gap:15px;grid-row-gap:40px;}.elementor-304 .elementor-element.elementor-element-8d8eda8.elementor-wc-products ul.products li.product{text-align:center;border-radius:5px;padding:15px 5px 25px 05px;}.elementor-304 .elementor-element.elementor-element-8d8eda8.elementor-wc-products .attachment-woocommerce_thumbnail{margin-bottom:-10px;}.elementor-304 .elementor-element.elementor-element-8d8eda8.elementor-wc-products ul.products li.product .price{color:#000000;font-weight:bold;}.elementor-304 .elementor-element.elementor-element-8d8eda8.elementor-wc-products ul.products li.product .price ins{color:#000000;}.elementor-304 .elementor-element.elementor-element-8d8eda8.elementor-wc-products ul.products li.product .price ins .amount{color:#000000;}.elementor-304 .elementor-element.elementor-element-8d8eda8.elementor-wc-products ul.products li.product .price del{color:#000000;}.elementor-304 .elementor-element.elementor-element-8d8eda8.elementor-wc-products ul.products li.product .price del .amount{color:#000000;}.elementor-304 .elementor-element.elementor-element-8d8eda8.elementor-wc-products ul.products li.product .price del {font-weight:bold;}.elementor-304 .elementor-element.elementor-element-8d8eda8.elementor-wc-products ul.products li.product .button{color:#FFFFFF;background-color:#ED1F27;font-size:15px;}.elementor-304 .elementor-element.elementor-element-8d8eda8.elementor-wc-products ul.products li.product:hover{box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);}.elementor-304 .elementor-element.elementor-element-8d8eda8 nav.woocommerce-pagination ul li a{background-color:rgba(237, 31, 39, 0);}.elementor-304 .elementor-element.elementor-element-8d8eda8.elementor-wc-products ul.products li.product span.onsale{display:block;background-color:#ED1F27;}@media(min-width:768px){.elementor-304 .elementor-element.elementor-element-2decda6{width:19.665%;}.elementor-304 .elementor-element.elementor-element-b3f9609{width:80%;}}@media(max-width:1024px){.elementor-304 .elementor-element.elementor-element-8d8eda8.elementor-wc-products  ul.products{grid-column-gap:20px;grid-row-gap:40px;}}@media(max-width:767px){.elementor-304 .elementor-element.elementor-element-8d8eda8.elementor-wc-products  ul.products{grid-column-gap:20px;grid-row-gap:40px;}}/* Start custom CSS for wp-widget-woocommerce_product_search, class: .elementor-element-34ce225 */.search-wrap-products h5 {
    font-size: 17px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
}

.search-wrap-products button{
        width: 100%;
    margin-top: 10px;
    text-transform: uppercase;
    padding: 5px;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-a50bbc3 */.ctm_search_popularity .bapf_head {
    display: none;
}

.seachfilter__wrapper_popularity{

    width: 180px !important;
    position: absolute;
    right: 150px;
    
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color:   #5E5E5E !important;
}

.ctm_search_popularity .select2-selection--single{
    border: none !important;
color:   #5E5E5E;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-4d89d47 */.abs__label_pop{
    position: absolute;
    
}
.abs__label_pop {
    position: absolute;
    width: 140px !important;
    right: 0;
    top: 0;
    
}/* End custom CSS */
/* Start custom CSS for woocommerce-products, class: .elementor-element-8d8eda8 */.sku__and_cat{
    height:100px;
}
.post-1856{
    display:none;
}

button.plus.qib-button{
    background-color:#ED1F27 !important;
}

button.minus.qib-button{
    background-color:#ED1F27 !important;
}

.product__page_listing li.product .fas{
padding-right: 5px;
    padding-left: 5px;
    font-size:11px;
}

span.out-of-stock.ctm-stock.onsale{
  height: 45px !important;
  width: 45px !important;
  font-size:8px !important;
}
span.onsale{
  height: 45px !important;
  width: 45px !important;
  font-size:8px !important;
}
.woocommerce-perpage{
    width:15vw;
    float:left;
}

.woocommerce-perpage select{
    margin-bottom:50px;
    margin-top:4px;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-5e87d57 */.product__page_listing ul.products img {
    height: 165px !important;
    width: auto;
    object-fit: contain;
}

.sku__and_cat, .sku__and_cat a {
    color: #2E3192 !important;
    font-weight: lighter;
    text-align: center;
}

.woocommerce ul.products li.product .button {
font-size: 13px !important;
    padding: 10px 6px;
    font-weight: 600 !important;
        width: 100%;
}
span.onsale {
    padding: 11px 0px !important;
    height: 50px;
    width: 50px;
    font-size: 9px !important;
    top: -35px !important;
    right: -10px !important;

}
 .ctm_trade__price {
    background: #5E5E5E;
    color: #fff;
    display:inline-block;
    width: 100%;
    padding: 8px 0;
    border-radius: 5px;
    margin-top: 10px;
    font-size:13px;
    font-weight: 600;
}/* End custom CSS */