#trade_user_product_data_tab table {
  border-collapse: collapse;
  width: 100%;
}

#trade_user_product_data_tab th, td {
  text-align: left;
  padding: 8px;
}

#trade_user_product_data_tab tr:nth-child(even) {background-color: #f2f2f2;}

#trade_user_product_data_tab th{
	background-color: #F8F8F8F8;
}

div#trade_user_product_data_tab {
    padding: 10px 30px;
}
.acf-field.acf-field-user.acf-field-5f28b1b71681a .acf-input {
    pointer-events: none;
}

ul.product_cat-wrapper ul.sub_cat_product {
    display: none;
}

.trade_user_product_price_wrapper {
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px 25px;
}

.ctm-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.downcarret {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

ul.product_cat-wrapper > li {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c0c0c0;
}

a.has-subcat_prod span {
    margin-right: 10px;
    margin-left: 10px;
}

a.has-subcat_prod {
    outline: none;
    text-decoration: none;
    padding-bottom: 10px;
}

ul.product_cat-wrapper ul.sub_cat_product.show-submenu {
    display: block;
    padding-left: 25px;
    margin-top: 15px;
    border-top: 1px solid #c0c0c0;
    padding-top: 15px;
}

ul.product_cat-wrapper ul.sub_cat_product.show-submenu li{

}
.showallproduct {
    font-size: 12px;
    text-decoration: none;
    float: right;
    padding-right: 15px;
}
.product_display {
    margin-top: 10px;
    padding-left: 10px;
}
.product_display i {
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
}
.product-title-trade span {
    font-size: 12px;
    display: block;
}

.select_tier__wrapper {
    display: block;
    margin-top: 15px;
}