.rb_ajax_login {
    position:relative;
}

.rb_ajax_login .error {
    background-color: #DA2D0A;
    text-align:center;
}

.rb_ajax_login input {
    margin-bottom:0.5em;
    color: black;
    width:100%;
}

.rb_ajax_login button[type="button"] {
    position:relative;
    background-color: #777;
    color:white;
    border:none !important;
    outline:0 !important;
    text-transform: uppercase;
    width:100%;
}

.rb_ajax_login button[type="button"]:focus,
.rb_ajax_login button[type="button"]:hover {
    background-color: #AAA;
}

.rb_ajax_login .rem label {
    display:block;
    line-height:2em;
    float:left;
    width:100%;
    text-align:left;
    margin-bottom:0.5em;
}

.rb_ajax_login .rem label:hover {
    cursor:pointer;
}

.rb_ajax_login .rem label input {
    float:left;
    margin:0;
    margin-right:1em;
    width:2em;
    height:2em;
}

.rb_ajax_login .rb_ajax_login_status {
    text-align:center;
    min-height:2em;
    line-height:2em;
}

.rb_ajax_login .rb_ajax_login_reset {
    text-align:left;
}

@media (max-width:991px){
    .rb_ajax_login {
        text-align:center;
    }

    .rb_ajax_login .content_container {
        min-height:100px;
    }

    .rb_ajax_login button[type="button"], .rb_ajax_login input {
        margin: 1em 0;
    }
}

.rb_ajax_login .loader {
    height:1.2em;
    width:1.2em;
    position: absolute;
    right: 40%;
    top:50%;
    transform: translateY(-50%);
}

.rb_ajax_login .hide {
    display:none;
}

/* tlite embed */

.tlite {
    background: #111;
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    padding: 0.4rem 1rem;
    border-radius: 4px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s;
    white-space: nowrap;
    box-shadow: 0 0.5rem 1rem -0.5rem black;
    z-index: 1000;
    -webkit-backface-visibility: hidden;
}
  
.tlite-table td,
.tlite-table th {
    position: relative;
}

.tlite-visible {
    visibility: visible;
    opacity: 0.9;
}

.tlite::before {
    content: ' ';
    display: block;
    background: inherit;
    width: 10px;
    height: 10px;
    position: absolute;
    transform: rotate(45deg);
}

.tlite-n::before {
    top: -3px;
    left: 50%;
    margin-left: -5px;
}

.tlite-nw::before {
    top: -3px;
    left: 10px;
}

.tlite-ne::before {
    top: -3px;
    right: 10px;
}

.tlite-s::before {
    bottom: -3px;
    left: 50%;
    margin-left: -5px;
}

.tlite-se::before {
    bottom: -3px;
    right: 10px;
}

.tlite-sw::before {
    bottom: -3px;
    left: 10px;
}

.tlite-w::before {
    left: -3px;
    top: 50%;
    margin-top: -5px;
}

.tlite-e::before {
    right: -3px;
    top: 50%;
    margin-top: -5px;
}