.accordionjs {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 20px;
}
.accordionjs .acc_section {
  /*border: 1px solid #ccc;*/
  position: relative;
  z-index: 10;
  margin-top: -1px;
  overflow: hidden;
}
.accordionjs .acc_section .acc_head {
  position: relative;
  background: #fff;
  padding: 10px;
  display: block;
  cursor: pointer;
}
.accordionjs .acc_section .acc_head h3 {
  line-height: 1;
  margin: 5px 0;
}
.accordionjs .acc_section .acc_content {
  /*padding: 10px;*/
}
.accordionjs .acc_section:first-of-type,
.accordionjs .acc_section:first-of-type .acc_head {
  /*border-top-left-radius: 3px;*/
  /*border-top-right-radius: 3px;*/
}
.accordionjs .acc_section:last-of-type,
.accordionjs .acc_section:last-of-type .acc_content {
  /*border-bottom-left-radius: 3px;*/
  /*border-bottom-right-radius: 3px;*/
}
.accordionjs .acc_section.acc_active > .acc_content {
  display: block;
}
.accordionjs .acc_section.acc_active > .acc_head {
  color:#fff;
  background: #22225c;
  /*border: 1px solid #22225c;*/
}

.accordionjs .acc_section > .acc_head {
  /*border:1px solid #ccc;*/
  font-weight: bold;
}

/* Table as content */

.accordionjs table {
  margin-bottom:0;
}

.accordionjs table td, .accordionjs table th {
  padding:10px;
}

.accordionjs .acc_section i {
  position:absolute;
  top:50%;
  right:1em;
  transform:translate(-50%, -50%);
}

/* fa-chevron-circle-up */
.accordionjs .acc_section i:before {
  content:"\f13a";
}

/* fa-chevron-circle-down */
.accordionjs .acc_section.acc_active i:before {
  content:"\f139";
}
