/* 
Theme Name:		Hello Elementor Child
Theme URI:		https://elementor.com/
Description:	Hello Elementor Child is a child theme of Hello Elementor, created by Elementor team
Author:			Elementor Team
Author URI:		https://elementor.com/
Template:		hello-elementor
Version:		1.0.0
Text Domain:	hello-elementor-child
Tags:           flexible-header, custom-colors, custom-menu, custom-logo, editor-style, featured-images, rtl-language-support, threaded-comments, translation-ready
*/

:root, 
html {
    font-size: 16px;
}
/* Back to top button */
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#back-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#back-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

.elementor-slick-slider .slick-arrows-inside .slick-prev {
	left: 18%;
}

.custom-popup-order-view{
    display: none;
}

.hide-ctm{
    display:none;
}

form.is-search-form.is-form-style.is-form-style-3.is-form-id-785.is-ajax-search label input {
    background-color: #EBEBEB;
    border-color: #EBEBEB;
    border-radius: 5px 5px 5px 5px;
    width: 100%;
    height: 45px;
}

form.is-search-form.is-form-style.is-form-style-3.is-form-id-785.is-ajax-search .is-search-submit{
    position: absolute;
    right: 15px !important;
    top: 7px !important;   
}

form.is-search-form.is-form-style.is-form-style-3.is-form-id-785.is-ajax-search .is-search-icon{
    background: transparent;
    border: none;    
}

form.is-search-form.is-form-style.is-form-style-3.is-form-id-785.is-ajax-search label{
    width:100% !important;
}

form.is-search-form.is-form-style.is-form-style-3.is-form-id-785.is-ajax-search .is-loader-image{
    right: 35px !important;
}
h2.ctm-order-title {
    font-size: 28px;
    color: #2E3192;
}
table.shop_table.shop_table_responsive.my_account_orders thead span,
table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details thead{
    color: #2E3192;
}

table.shop_table.shop_table_responsive.my_account_orders a {
    color: #ED1F27;
}
.custom-popup-order-view h2 {
    font-size: 24px;
    color: #2E3192;
}

[type=button]:focus, [type=button]:hover, [type=submit]:focus, [type=submit]:hover, button:focus, button:hover{
    background: #ED1F27 !important;
}

[type=button], [type=submit], button {
    color: #ED1F27;
    border: 1px solid #ED1F27;
}
.wppb-form-field label, #wppb-login-wrap .login-username label, #wppb-login-wrap .login-password label {
    width: 100% !important;
    margin-bottom: 10px;
    color: #545454 !important;
    font-size: 18px;

}
.wppb-form-field input, .wppb-form-field input[type="text"], .wppb-form-field input[type="number"], .wppb-form-field input[type="email"], .wppb-form-field input[type="url"], .wppb-form-field input[type="password"], .wppb-form-field input[type="search"], .wppb-form-field select, .wppb-form-field textarea, .wppb-checkboxes, .wppb-radios, #wppb-login-wrap .login-username input, #wppb-login-wrap .login-password input {
    float: left;
    background-color: #EBEBEB !important;
    border-color: #EBEBEB ;
    border-radius: 5px 5px 5px 5px !important;
    width: 100% !important;
    height: 45px !important;
    padding-left: 15px !important;
}
form#wppb-edit-user ul li h4 {
    color: #2E3192;
    font-size: 28px;
}
span.out-of-stock.ctm-stock.onsale{
    color:#fff !important;
}

body.logged_as_trade_user .cart-collaterals {
    display: block;
}

body.logged_as_trade_user .cart_totals h2,
body.logged_as_trade_user.woocommerce-cart .send_request_cart_page{
    display:none;
}

.wc-proceed-to-checkout a {
    background-color: #ED1F27 !important;
    color: #FFFFFF !important;
    font-size: 18px !important;
}

a.pop-order-view-detail.button.pay {
    display: none;
}

.custom-popup-order-view.fancybox-content .woocommerce-customer-details{
    display: none;
}

.bapf_ckbox_square input[type=checkbox]:checked {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font: normal normal normal 14px/1 FontAwesome;
    position:relative;
}

.bapf_ckbox_square input[type=checkbox]:checked::after {
    content: "\f00c";
    font-size: 18px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.ctm_trade__price:hover{
	color:#fff;
}

span.out-of-stock.ctm-stock.onsale {
    background-color: #2E3192 !important;

}
span.onsale{
	  padding: 15px 0 !important;
    height: 75px;
    width: 75px;
}
button.fancybox-button.fancybox-close-small {
    width: 45px;
    padding: 0;
    float: right;
    border: none;
    margin-top: 5px;
}
a.pop-order-view-detail.button {
    margin-right: 10px;
}
.dashboard-sidebar  a.elementor-button-link:hover{
	    background-image: url(/wp-content/uploads/2020/06/browse_all_category.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

body.page-id-715 .order_details_sidebar  a.elementor-button-link,
body.page-id-690 .searchproduct-trade  a.elementor-button-link,
body.page-id-734 .quote_details_sidebar  a.elementor-button-link,
body.page-id-775 .account_settings_sidebar  a.elementor-button-link
{
	    background-image: url(/wp-content/uploads/2020/06/browse_all_category.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.update_order_status select{
		margin-bottom:15px;
}

.elementor-page-361 .woocommerce-tabs ul.tabs li {
    border: 1px solid #d3ced2;
    background-color: #fff;
    display: inline-block;
    position: relative;
    z-index: 0;
    border-radius: 4px 4px 0 0;
    margin: 0 -5px;
    padding: 0 1em;
    padding: 10px 0;
}

.elementor-page-361 .woocommerce-tabs ul.tabs li a {
    padding: .8em 1.2em;
    line-height: 1;
    color: #515151;
}

.elementor-page-361 .woocommerce-tabs ul.tabs li.active a {
    color: #fff;
    font-weight: bold;
}

.elementor-page-361 .woocommerce-tabs ul.tabs li.active {
    background: #2d3191 !important;
    z-index: 2;
    border-bottom-color: #fff;
    color: #fff !important;
}

.elementor-page-361 .woocommerce-tabs ul.tabs li{
    width:34%;
    text-align:center;
    background: #ffffff;
    color:#242424;
    border-top: 0;
    border-right: 0;
}

.elementor-page-361 .tabs.wc-tabs {
    padding: 0 !important;
    overflow: hidden;
    border-top-left-radius: 5px;
}

.elementor-page-361 form.cart .quantity {
    float: left;
    margin-right: 10px;
}

.elementor-page-361 form.cart .single_add_to_cart_button{
	height: 42px;
}

.elementor-page-361 section.related.products h2 {
    text-align: center;
}

.elementor-page-361 .woocommerce-Tabs-panel{
    margin: 0;
    padding: 20px;
    border-radius: 0;
    border-width: 0;
    border-top: 1px solid #d3ced2;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: -1px;
}
.woocommerce-cart-form__contents th {
    border: none;
    background: #032d4d;
    color: #fff;
}
.hidden-logout-footer-link{
	visibility:hidden;
	opacity:0;
	display:none;
}
.woocommerce-cart-form__contents .product-thumbnail{
    min-width: 32px;
}

.woocommerce-cart-form__contents img{
    width: 32px;
    box-shadow: none;
}

.edit_request_id_quote {
    color: #032d4d;
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 15px;
}

@media(max-width:1024px){
	.elementor-location-header .elementor-icon-list-text {
	    font-size: 12px;
	}
	.eicon-menu-bar:before{
		color: #fff;
	}
	.elementor-12 .elementor-element.elementor-element-a7c433e .elementor-menu-toggle{
		margin-top: 5px !important;
	}
	.elementor-nav-menu--dropdown .elementor-item.elementor-item-active {
	    background-color: #1B3564 !important;
	}
	.elementor-slide-heading {
	    font-size: 70px !important;
	}
	.elementor-2 .elementor-element.elementor-element-150c7ea .elementor-heading-title{
		font-size: 1.8rem !important;
	}
	.woo__featured-products .woocommerce-loop-product__title{
		font-size: 16px !important;
	}

}

@media(max-width: 982px){
	.elementor-12 .elementor-element.elementor-element-39b858c .elementor-icon-list-item:not(:last-child):after{
		display: none;
	}
}

@media(max-width:768px){
	.elementor-location-header .elementor-element.elementor-element-39b858c .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after{
		display: none;
	}
	.elementor-element.elementor-element-1f7e78b.elementor-column.elementor-col-33 {
	    width: 280px;
	    display: block;
	    margin: 0 auto;
	}
	.elementor-element.elementor-element-869d4b1 {
	    width: 250px;
	    margin: 0 auto;
	}
	.elementor-12 .elementor-element.elementor-element-f417fc0 .elementor-search-form{
		text-align: center !important;
	}
}

@media(max-width:767px){
	.elementor-361 .elementor-element.elementor-element-4fc5c35 > .elementor-element-populated{
		padding: 15px !important;
	}
	.elementor-page-361 .woocommerce-tabs ul.tabs li a{
		padding: 0;
	}
	.elementor-page-361 section.elementor-element.elementor-element-aed540c.elementor-section-full_width.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section{
		background: #F3F3F9;
	}
	section.elementor-element.elementor-element-aed540c.elementor-section-full_width.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section:after {
		display: none;
	}
}

@media(max-width:650px){
	.elementor-slide-heading{
		font-size: 45px !important;
	}
	.elementor-2 .elementor-element.elementor-element-0dc1480 .elementor-slide-button{
		font-size: 16px !important;
	}
	.elementor-2 .elementor-element.elementor-element-0dc1480 .elementor-swiper-button {
	    font-size: 25px !important;
	}
	.elementor-widget-heading .elementor-heading-title,
	.elementor-645 .elementor-element.elementor-element-82aff18 .elementor-heading-title{
		font-size: 24px !important;
	}
	.elementor-2 .elementor-element.elementor-element-80bc50b:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap{
	    padding-top: 25px;
	    padding-bottom: 50px;
	    border-radius: 5px;
	}
	.elementor-2 .elementor-element.elementor-element-1e74f48 .elementor-testimonial__text,
	.elementor-2 .elementor-element.elementor-element-1e74f48 .elementor-testimonial__name{
		font-size: 1.2em !important;
	}
	.elementor-14 .elementor-element.elementor-element-8756941 .elementor-heading-title{
		font-size: 2.3em !important;
	}
	.elementor-widget-heading .elementor-heading-title.elementor-size-large {
	    font-size: 22px !important;
	}
	.elementor-71 .elementor-element.elementor-element-8334305 .elementor-heading-title{
		font-size: 28px !important;
	}
}